# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Database
#*.db
#*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# Session files
flask_session/

# Logs
*.log